@import '../shared/link.scss';
@import '../shared/colors.scss';

.categories-link {
  @extend .link;
  &:after {
    content: '';
  }
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: $background;
  color: $fontColor;
}
