@import '../shared/colors.scss';

.label {
  position: absolute;
  z-index: 1;
  text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black,
    1px 1px 0 $black;
}

.category-container {
  position: relative;
  display: flex;
  width: fit-content;
  height: 150px;
  width: 250px;
  margin: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  & img {
    object-fit: cover;
    height: 100%;
  }
  & > div {
    height: 100%;
  }
}
