@import '../shared/link.scss';
@import '../shared/colors.scss';

.source-link {
  @extend .link;
  font-size: 1.2em;
}

.footer {
  padding: 1em 0;
  & a {
    @extend .link;
    padding: 0 5px;
  }
}
