@import '../shared/colors.scss';

.loading-indicator {
  position: absolute;
  height: 0.5em;
  bottom: 0;
  left: 0;
  width: 10%;
  background-color: $primary;
  animation: loading 0.5s linear infinite;

  @keyframes loading {
    to {
      left: 90%;
    }
  }

  .show {
    display: none;
  }
}

.gif-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  & img {
    width: inherit;
  }
}
