@import '../../theme/colors.scss';
@import '../../theme/shared/link.scss';

.gifs-board {
  margin: 10px;

  & > div {
    display: none;
  }

  &:hover > div {
    display: block;
  }

  a {
    text-decoration: none;
    display: block;
    width: 300px;
  }
}
