@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Montserrat';
		font-weight: 400;
		src: url(/Montserrat-Medium.ttf);
	}

	a:hover {
		@apply text-primary;
	}
}
